*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color: rgb(241, 241, 241);
    height: 300vh;
}

h2{
    color: rgb(20, 20, 20);
    font-size: 2.5rem; 
    font-weight: 100;
}

/* #region navbar */
nav{
    display: flex;
    background-color: rgb(250, 250, 250);
    padding: 1rem 0rem 1rem 0rem;
    align-items: center;
    font-size: 1.5rem;
    filter: drop-shadow(0px 0px 5px#32392a11);
    position: sticky;
    top: 0px;
}
nav div{
    display: flex;
    align-items: center;
}
.nav-div{
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
}
.logo{
    margin: -.5rem 0rem -.2rem 2rem;
    width: 5rem;
    height: 5rem;
    transition: all 0.05s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav h1{
    margin-left: 2rem;
    color: rgb(20, 20, 20);
    font-size: 2.5rem; 
    font-weight: 100;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 40rem;
}
.nav-links li a {
    text-decoration: none;
    color: rgb(80, 80, 80);
}
.nav-links li a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav-links li{
   transition: 0.05s ease-in-out all;
}
.nav-links li:hover {
    transform: scale(1.1);
}

/* #endregion */

.div-main{
    margin: 10rem 5rem 10rem 5rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.div-column{
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
}

p{
    color: rgb(80, 80, 80);
    font-size: 1.5rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

br{
    font-size: 20rem;
}

/* #region footer */
footer{
    margin-top: 100%;
    width: 100%;
    height: 10rem;  
    background-color: rgb(80, 80, 80);
    filter: drop-shadow(0rem 0rem 5px#89ff03);
}
/* #endregion */
